<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951460505886-2ssk254ivltn5sgs0j8igj2m3hdfn05g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951460505886-2ssk254ivltn5sgs0j8igj2m3hdfn05g</string>
	<key>API_KEY</key>
	<string>AIzaSyCemsSbmDNZoYqOff7zPnxHHjisei295TQ</string>
	<key>GCM_SENDER_ID</key>
	<string>951460505886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushnotification</string>
	<key>PROJECT_ID</key>
	<string>push-notify-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notify-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951460505886:ios:137feae1a713819bcf410f</string>
	<key>DATABASE_URL</key>
	<string>https://push-notify-flutter-default-rtdb.firebaseio.com</string>
</dict>
</plist>